<h2>Products</h2>

<div *ngFor="let product of products">

	<h3>
		<a [title]="product.name + ' details'">
			{{ product.name }}
		</a>
	</h3>

	<p *ngIf="product.description">
		Description: {{ product.description }}
	</p>

	<button (click)="share()">
    Share
  </button>

	<app-new-thing [product]="product">
		<button (click)="notify.emit()">Notify Me</button>
	</app-new-thing>
</div>

<!-- 

  To display the names of the products, use the interpolation syntax {{ }}. Interpolation renders a property's value as text. Inside the <div>, add an <h3> to display the interpolation of the product's name property:

src/app/product-list/product-list.component.html
content_copy
<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
      {{ product.name }}
  </h3>

</div>
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->